<aside id="sidebar-wrapper">
  <div class="sidebar-heading">
    <a href="/principal" class="flex items-center ps-2.5 mb-5">
      <img src="../../../../assets/Logo/Layer 1.png" class="h-6 me-3 sm:h-7 img-logo" alt="Logo" />
    </a>
  </div>
  <div class="list-group">
    @for(item of menuItems; track $index) {
      <div class="list-group-item" [ngClass]="{'selected-route': isActive(item.route)}">
        <a [href]="item.route">
          <span class="icon" [innerHTML]="item.icon"></span>
          <span class="text d-none d-md-inline">{{ item.name }}</span>
        </a>
      </div>
    }
    <div mdbDropdown class="dropdown list-group-item">
      <a
        class="d-flex align-items-center"
        type="button"
        id="dropdownMenuButton2"
        mdbDropdownToggle
      >
        <i class="fas fa-cog icon fa-2x"></i>
        <span class="text d-none d-md-inline">Menu</span>
      </a>
      <ul mdbDropdownMenu class="dropdown-menu dropdown-menu-white" aria-labelledby="dropdownMenuButton3">
        <li><a class="dropdown-item" (click)="openModal()">Conta</a></li>
        <li><a class="dropdown-item" (click)="sair()">Sair</a></li>
      </ul>
    </div>
    @if (getRole()) {
      <div class="list-group-item" [ngClass]="{'selected-route': isActive('auditoria')}">
        <a [href]="'auditoria'" class="d-flex align-items-center">
          <i class="fas fa-user-circle icon fa-2x"></i>
          <span class="text d-none d-md-inline">Administrador</span>
        </a>
      </div>
    }
  </div>
</aside>
